
    #sign-in {
        margin-right: 0.8rem;
        margin-top: 20%;
        width: 25%;
    }

    @media screen and (min-width: 768px) {
        .form-container {
            min-width: 468px;
        }
        .fs-container {
            margin-bottom: 1%;
        }

        .name {
            display: inline-block;
            width: 45%;
            margin-left: 3%;
        }

        .name > input {
            padding: 8%;
        }

        .eye-icon {
            position: absolute;
            float: none;
            width: 25%;
            right: 0;
            top: 69.5%;
        }
    }