
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root, body, .container {
    height: 100%;
}

.container {
    background-color: white;
    position: relative;
    width: 100%;
}

.cf::before, .cf::after {
    content: "";
    display: table;
}

.cf::after {
    clear: both;
}

.form-container {
    background-color: white;
    width: 320px;
    margin: 10% auto;
    border: 0.0016rem solid green;
    position: relative;
    box-shadow: 0 0 1rem 0.1rem green;
    height: auto;
}

form {
    position: relative;
    height: 100%;
}

form > div {
    width: 100%;
    margin: auto
}

form input:first-child{
    margin-top: 10%;
}

.pre-logo {
    background-color: white;
    padding: 1%;
    border: solid green 0.0625rem;
    width: 70%;
    margin: 10% auto 0;
    position: relative;
    text-align: center;
    border-radius: 3.125rem;
}

.logo {
    width: 98%;
    margin: auto;
    color: white;
    background-color: green;
    font-family:sans-serif;
    text-align: center;
    font-size: 2rem;
    border: solid green 0.0625rem;
    border-radius: 3.125rem;
}

.note {
    margin: 10% auto 0;
    width: 50%;
    color: black;
    font-family:sans-serif;
    text-align: center;
    font-size: 120%;
}

input {
    display: block;
    width: 93.5%;
    font-size: 1rem;
    padding: 4%;
    margin: 4% auto;
    border-radius: 0.3125rem;
    border: solid 0.0625rem #ccc;
}

input:hover{
    border: solid green 0.0625rem;
}

input:focus{
    border: solid green 0.125rem;
    border-radius: 0.3125rem;
    outline: none;
    /*background: rgb(230, 255, 230)*/
}

.warning {
    display: none;
}

.fs {
    position: relative;
}

.fs {
    display: inline;
    visibility: hidden;
    color: green;
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    position: relative;
    bottom : -1.3rem;
    margin: 0 1.5rem;
    background: white;
}



.forgot, .sign-up {
    display: block;
    font-family: sans-serif;
    font-size: 0.9375rem;
    margin-left: 5%;
    margin-top: 7%;
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.sign-up{
    display: inline-block;
    margin-top: 7%;
    margin-bottom: 20%;
}


.new-user{
    color: grey;
    font-family: arial, sans-serif;
    margin-top: 8%;
    margin-left: 5%;
}

#sign-in {
    width: 21%;
    float: right;
    padding: 3%;
    font-size: 0.9375rem;
    color: white;
    margin-right: 5%;
    margin-top: 12%;
    border: solid #ccc 0.625rem;
    background-color: green;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: 1023px){
    .form-container {
        width: 380px;
        max-width: 400px;
        top: 0.7%;
    }
}

@media screen and (min-width: 720px){
    .form-container {
        max-width: 420px;
    }
}
